.message{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10;
    margin-top: 15px;
}

.message__textBox {
    padding: 10px;
    background-color: #900add;
    border-radius: 20px;
}

.message__text {
    color: white;
    font-size: 15px;
    font-weight: 550;
}

.message__senderName {
    color: #242424;
    font-size: 16px;
    font-weight: 600;
}

.message__sender {
    justify-content: flex-end;
}

.message__marginLeft {
    margin-left: 7px;
}

.message__marginRight {
    margin-right: 7px;
}